@import 'config';
@import 'menu';
@import 'mobile';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Crimson Text', serif;
    line-height: 1.5;
}
// Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
        
        .txt-type > .txt {
            border-right: 0.2rem solid #fff;
        }
    
    }
}
ul li {
    font-family: 'Montserrat', sans-serif;
}
a {
    color: #fff;
    text-decoration: none;
}
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}
.text-secondary {
    color: $secondary-color;
}
main {
    padding: 4rem;
    height: 100%;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut;
            }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
    &#about {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

//Footer

.footer {
    justify-content: center;
  position: fixed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  }
.footer {
position: absolute;
z-index: 10;
bottom: 5rem;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-direction: row;
flex-direction: row;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
}
@media all and (max-width: 767px) {
.footer {
width: 90%;
}
}@media all and (min-width: 768px) {
.footer {
width: 100%;
}
}
  .home {
  position: absolute;
  font-family: "Montserrat";
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s cubic-bezier(0.55,  0,  0.1,  1);
  transition: opacity 0.3s cubic-bezier(0.55,  0,  0.1,  1);
}


.home svg {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  fill: #ddd;
}
.home .outer {
  -webkit-transition: stroke-dashoffset .3s;
  transition: stroke-dashoffset .3s;
  fill: transparent;
  stroke: #ddd;
  stroke-width: 1.5;
  stroke-dasharray: 250;
  stroke-dashoffset: 100;
}
.home span {
  position: relative;
  margin-left: 15px;
  -ms-flex-item-align: center;
  align-self: center;
}
.home span::after {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 1px;
  margin-top: 2px;
  background-color: #ddd;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.55,  0,  0.1,  1);
  transition: -webkit-transform 0.4s cubic-bezier(0.55,  0,  0.1,  1);
  transition: transform 0.4s cubic-bezier(0.55,  0,  0.1,  1);
  transition: transform 0.4s cubic-bezier(0.55,  0,  0.1,  1),  -webkit-transform 0.4s cubic-bezier(0.55,  0,  0.1,  1);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  content: ""}
.home-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #ddd;
  cursor: pointer;
}

.home-link:hover svg .outer {
  stroke-dashoffset: 340;
}
.home-link:hover span:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
 
//terminal
.window {
    font-family: 'Ubuntu Mono', monospace;
    width : 600px ; 
    background: rgba(darken($primary-color, 2), 0.5);
    height : 350px ; 
    border-radius : 5px ;
    display : relative ; 
    box-shadow: 10px 10px 10px  rgba(darken($primary-color, 2), 2);
  }
  
  .afterclose {
      background: rgba(lighten($primary-color, 2), 0.5);
      display: none  ; 
      text-align: center  ; 
  }
  
  .open {
      color : #fff ; 
      padding : 15px ; 
      background: #2ecc71 ; 
      border-radius: 4px ; 
      border: none ; 
  }
  
  .bash {
    width : 600px ; 
    border: 1px solid rgba(lighten($primary-color, 2), 0.3);
    height : 310px ; 
    border-radius : 5px ;
    top: 40px;
    display : absolute; 
    color : #fff ;
  }
  
  /* effected by controllers */
  
  .windowmax {
    width : 100% ; 
    margin : auto ; 
    background: rgba(lighten($primary-color, 2), 0.5);
    height : 1000px; 
    border-radius : 5px ;
    display : relative ; 
  }
  
  .windowmin {
    width : 300px ; 
    height : 45px ;
    background: rgba(lighten($primary-color, 2), 0.5);
    border-radius : 5px ; 
    bottom : 0 ; 
    position: fixed;
  }
  
  .bashmax {
    display : absolute ; 
    width : 100% ; 
    background : #34495e; 
    height : 960px ; 
    border-radius : 5px ;
    bottom: 0;
    color : #fff ;
  }
  
  /* !--end--! */
  
  .buttons {
    width : 15px ;
    height : 15px ; 
    border-radius : 50% ;
    float : right ; 
    margin : 13px 4px;
    border: none ; 
  }
  
  .close-term {
    background : #e74c3c ;
  }
  
  .maximize{
    background : #f1c40f ;
  }
  
  .minimize{
    background : #2ecc71 ;
  }
  
  .result {
    display : none ;
  }
  
  .controls {
    height : 40px ; 
    top : 0 ; 
  }
  
  .title {
      color : #fff ; 
      font-weight: bold ; 
      padding : 10px;
  }
  
  .textarea-terminal {
    background: transparent;
    color: white;
    resize: none;
    border: 0 none;
    width: 100%;
    font-size: 1.3em;
    outline: none;
    height: 100%;
    position: absolute;
  }